@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0e0e0e;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Estilos para Firefox */
  ::-moz-scrollbar {
    width: 7px;
  }
  ::-moz-scrollbar-track {
    background: transparent;
  }
  ::-moz-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

.barra_superior {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    animation: opacidad .8s ease-out;
}

@keyframes opacidad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.barra_superior P {
    color: white;
}

.logo {
    display: flex;
    cursor: pointer;
    margin-bottom: -43px;
    width: 50px;
    height: 50px;
    transition: .3s ease-in-out;
    z-index: 600;
}

.hecho {
    display: none;
}

.linea1{
    position: absolute;
    top: 50%;
    left: 110px;
    width: calc(70% - 60px);
    height: 1px;
    border-left: 1px solid white;
    transform: translateY(-50%);
}

.barra_lateral {
    display: flex;
    position: fixed;
    height: 100%;
    width: 70px;
    margin-left: 0;
    justify-content: center;
    z-index: 102;
    animation: opacidad .8s ease-out;
}

.linea2{
    position: absolute;
    top: 110px;
    height: calc(70% - 60px);
    width: 1px;
    border-left: 1px solid white;
    z-index: 901;
}

.redes{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
    z-index: 900;
    cursor: pointer;
}

.redes a{
    color: white;
    padding-bottom: 20px;
    transition: .2s ease-in-out;
    margin-bottom: 20px;
}

.redes a:hover{
    transform: scale(1.2);
}

.contenedor{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: filter 0.3s ease-in-out;
}

.titulo {
    display: flex;
    font-size: 85px;
    letter-spacing: 7px;
    font-weight: 800;
    margin-top: 70px;
    margin-left: 100px;
    height: 120px;
    animation: deslizarIzquierda .8s ease-out;
}

@keyframes deslizarIzquierda {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.portafolio{
    background: linear-gradient(90deg, #74ffff, #d678ff, #d678ff, #74ffff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: arcoiris 4s linear infinite;
    transition: .3s ease-in-out;
}

@keyframes arcoiris {
    0% { background-position: 0%; }
    100% { background-position: 300%; }
}

.parrafo_1::before {
    visibility: hidden;
}

.parrafo_1{
    display: flex;
    font-size: 27px;
    color: white;
    position: absolute;
    font-weight: 600;
    margin-top: 180px;
    margin-left: 100px;
    animation: deslizarIzquierda .8s ease-out;
}

.blur {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 103;
    pointer-events: none;
    transition: opacity .4s ease-in-out;
}

.presentacion{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #131313;
    width: 670px;
    height: 670px;
    left: 100px;
    top: 25%;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px #000000;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 600;
    animation: deslizarIzquierda .8s ease-out;

}

.animacion{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #131313;
    width: 300px;
    height: 340px;
    right: 760px;
    bottom: 45px;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px #000000;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: auto;
    z-index: 104;
    animation: deslizarAbajo .8s ease-out;
}

@keyframes deslizarAbajo {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.flecha_1{
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 22px;
    opacity: 50%;
  }


.animacion:hover, .reels:hover, .promocion:hover{
    height: 700px;
}

.animacion p, .reels p, .promocion p, .presentacion p{
    display: flex;
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    top: 15px;
    background: linear-gradient(90deg, #74ffff, #d678ff, #d678ff, #74ffff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: arcoiris 4s linear infinite;
    transition: 1.5s ease-in-out;
}

.vid_ani_1, .vid_reels_1, .vid_prom_1{
    display: flex;
    width: 85%;
    position: absolute;
    top: 60px;
    border-radius: 25px;
    margin-right: -7px
}

.vid_pre{
    display: flex;
    width: 85%;
    position: absolute;
    top: 60px;
    border-radius: 25px;
}

.vid_ani_2{
    display: flex;
    width: 85%;
    position: absolute;
    top: 340px;
    border-radius: 25px;
    margin-right: -7px
}

.reels{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #131313;
    width: 300px;
    height: 540px;
    right: 430px;
    bottom: 45px;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px #000000;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: auto;
    z-index: 500;
    animation: deslizarAbajo .8s ease-out;
}

.vid_reels_2{
    display: flex;
    width: 85%;
    position: absolute;
    top: 540px;
    border-radius: 25px;
    margin-right: -7px
}

.promocion{
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: #131313;
    width: 300px;
    height: 230px;
    right: 100px;
    bottom: 45px;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px #000000;
    cursor: pointer;
    transition: .3s ease-in-out;
    overflow: auto;
    z-index: 500;
    animation: deslizarAbajo .8s ease-out;

}

.vid_prom_2{
    display: flex;
    width: 85%;
    position: absolute;
    top: 230px;
    border-radius: 25px;
}

.speech-bubble {
    display: flex;
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 250px;
    bottom: 30px;
    left: 100px;
    z-index: 700;
    font-family: 'Montserrat', sans-serif;
    animation: deslizarIzquierda .8s ease-out;
}
  
.speech-text {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
  
.speech-triangle {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    left: -10px;
    top: 50%;
    margin-top: -10px;
}

@media (max-width: 768px) {

    body {
        background-color: #0e0e0e;
        overflow: auto;
        align-items: center;
    }

    .contenedor {
        width: 85%;
        justify-content: center;
}

    .titulo {
        font-size: 250%;
        letter-spacing: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 20%;
    }

    .parrafo_1{
        font-size: 25px;
        top: 3%;
        text-align: center;
    }

    .presentacion {
        width: 85%;
        height: 20em;
        top: 50%;
        left: 22%;
    }

    .vid_pre{
        display: flex;
        position: absolute;
        border-radius: 25px;
        width: 85%;
    }

    .animacion {
        width: 80%;
        height: 19em;
        top: 750px;
        left: 22%;
        z-index: 200;
    }

    .reels {
        width: 75%;
        height: 29em;
        top: 1095px;
        left: 22%;
        z-index: 130;
    }

    .promocion {
        width: 75%;
        height: 12em;
        top: 1600px;
        left: 22%;
        z-index: 120;
    }

    .speech-bubble {
        display: none;
    }

    .hecho {
        display: flex;
        position: absolute;
        color: white;
        width: 420px;
        height: 30px;
        bottom: -1100px;
        left: 11%;
    }

    .html{
        opacity: 0;
    }

    .flecha_1{
        right: 18px;
        opacity: 50%;
        transform: rotate(180deg);
    }

  }